<form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="productForm">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i>
            <strong>Agregar producto</strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label required">Producto</label>
                            <input type="text" id="name" name="name" formControlName="name" class="form-control" class="form-control" [ngClass]="{ 'is-invalid': submitted && productForm.controls['name'].errors }"/>
                            <div *ngIf="submitted && productForm.controls['name'].errors" class="invalid-feedback">
                                <div *ngIf="productForm.controls['name'].errors.required">El nombre del producto es requerido</div>
                            </div>
                        </div>                        
                        <div class="col-md-6" >
                            <label class="control-label required">Costo</label>
                            <input type="number" id="cost" name="cost" formControlName="cost" class="form-control" [ngClass]="{ 'is-invalid': submitted && productForm.controls['cost'].errors }"/>
                            <div *ngIf="submitted && productForm.controls['cost'].errors" class="invalid-feedback">
                                <div *ngIf="productForm.controls['cost'].errors.required">El costo del producto es requerido</div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <label class="control-label required">Precio</label>
                            <input type="number" id="price" name="price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && productForm.controls['price'].errors }"/>
                            <div *ngIf="submitted && productForm.controls['price'].errors" class="invalid-feedback">
                                <div *ngIf="productForm.controls['price'].errors.required">El precio del producto es requerido</div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <label class="control-label required">Cantidad</label>
                            <input type="number" id="quantity" name="quantity" formControlName="quantity" class="form-control"  [ngClass]="{ 'is-invalid': submitted && productForm.controls['quantity'].errors }"/>
                            <div *ngIf="submitted && productForm.controls['quantity'].errors" class="invalid-feedback">
                                <div *ngIf="productForm.controls['quantity'].errors.required">La cantidad del producto es requerida</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button class="btn btn-warning" (click)="backToList()">Volver al listado</button>
        </div>
    </div>
</form>