<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="#" target="blank"> JanCarlos García - Angular Developer</a>
    </div>
</footer>